# Byte-compiled / optimized / DLL files
__pycache__/

#3dmodel files
*.CBmodel
!examples/*.CBmodel
test.py
*.cblog
!_globals.cblog
#there are going to be other user-specific log files with file type cblog, but they are not global.